<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculate page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Please choose start date and end date</h1>
    <br>
    <form action="" method="post">
        <div class="form-group">
            <input type="date" id="start" name="date-start" value="{{request.form.startdate }}">
        </div>
        <div class="form-group">
            <input type="date" id="end" name="date-end" value="{{request.form.enddate }}">
        </div>
        <input class="btn btn-success" type="submit" value="Calculate">
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
</div>
</body>
</html>